.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;

}

.container  * {
  margin: 10px 0;

}
.pixel{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
}

.pixel.active {
  background-color: #333; /* Dark color when "drawn" */
}